@import "../../common/colors.scss";

.movie-wrapper{
    padding: 0px 40px;
}

.movie-wrapper .loading{
    display: flex;
    color: $primary-font;
    justify-content: center;
    
}
.movie-list,h2 {
    margin: 20px 0px;
    color: $secondary-font;
    margin-bottom: 10px;
    font-weight: 400;
    
    
}

.slick-dots  button:before {
    color:White !important;
}

.slider-arrow {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
  }





