@import "../../common/colors.scss";

.footer {
    background: $secondary-color;
    height: 72px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:$primary-font;
    margin-top:30px;
}